.verticle-timeline {
  width: 100%;
  max-width: 1280px;
  margin: 0;
}

.vertical-timeline::before {
  background: #424242;
  top: 260px;
  width: 2px;
  height: 45%;
}

.vertical-timeline-element-icon {
  top: 213px;
}

.vertical-timeline-element-content {
  box-shadow: none;
  max-width: 580px;
}

.vertical-timeline-element-content p {
  font-size: 20px;
  line-height: 30px;
}

.verticle-timeline.vertical-timeline--two-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.vertical-timeline-element:first-child {
  margin-bottom: -230px;
}

.vertical-timeline-element:last-child {
  margin-top: -295px;
}