@import url('../src/vendor/fonts/fonts.css');

.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  font-family: 'SuisseInti-Book', 'Helvetica', sans-serif;
  font-weight: 400;
  color: #fff;
  min-width: 320px;
  max-width: 1440px;
}